doctype html

html
  head
    title Hate Crime Tracking
    link(rel="stylesheet", type="text/css", href="./node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="./cover.css")

  body
    div(class="site-wrapper")
      div(class="site-wrapper-inner")
        div(class="cover-container")
        
          div(class="masthead clearfix")
            div(class="inner")
              h3(class="masthead-brand") Hate Crime Tracking
              nav
                ul(class="masthead-nav")
                  li(class="active")
                    a(href="#") Feed
                  li
                    a(href="#") Stats
                  li
                    a(href="#") Contact

          div(class="input-form")
            form(method="post", action="/")
              div
                label URL:
                  input(type="url", name="url")

              div
                label Date:
                  input(type="date")
                label Location:
                  input#autocomplete(type="text")

              div
                label Religion:
                  select(name="religion")
                    option(value="sikh") Sikh
                label Gender:
                  select(name="gender")
                    option(value="male") Male
                    option(value="female") Female
                    option(value="other") Other
        div#map
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
    script.
      google.maps.event.addDomListener(window, 'load', function () {
      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input);
      var markerCenter = new google.maps.LatLng(-77.85,166.666667);
      var marker = null;

      var mapProp = {
       center: markerCenter,
       zoom: 10,
       mapTypeId: google.maps.MapTypeId.ROADMAP
       };
      var map = new google.maps.Map(document.getElementById("map"),mapProp);
      google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng(); 
                var markerCenter = new google.maps.LatLng(latitude,longitude);
                var marker = null;

                var mapProp = {
                 center: markerCenter,
                 zoom: 10,
                 mapTypeId: google.maps.MapTypeId.ROADMAP
                 };
                var map = new google.maps.Map(document.getElementById("map"),mapProp);
      
                var marker = new google.maps.Marker({
                   position: markerCenter,
                   animation: google.maps.Animation.BOUNCE
                 });
                marker.setMap(map);

            });
          });


  




