doctype html

html
  head
    title Hate Crime Tracking

    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", type="text/css", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="style.css")

  body
    div.container
      div.container-content

        //- Navigation
        div.masthead.clearfix
          div.inner
            h3.masthead-brand Hate Crime Tracking
            nav
              ul.masthead-nav
                li.active
                  a(href="#") Feed
                li
                  a(href="#") Stats
                li
                  a(href="#") Contact

        //- Submission form
        form.form-horizontal(method="post", action="/")
          div.form-group
            label.control-label.col-sm-2 URL:
            div.col-sm-10
              input.form-control(type="url", name="url")

          div.form-group
            label.control-label.col-sm-2 Date:
            div.col-sm-4
              input.form-control(type="date")
            
            label.control-label.col-sm-2 Location:
            div.col-sm-4
              input#autocomplete.form-control(type="text")

          div.form-group
            label.control-label.col-sm-2 Religion:
            div.col-sm-4
              select.form-control(name="religion")
                option(value="sikh") Sikh

            label.control-label.col-sm-2 Gender:
            div.col-sm-4
              select.form-control(name="gender")
                option(value="male") Male
                option(value="female") Female
                option(value="other") Other

        div#map

    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
    script(src="location.js")
    
