$background-color: #333;
$nav-link-color: #c9c9c9;
$nav-border-bottom-color: #656565;
$white: #fff;
$black: #000;

html {
    height: 100%;
}
body {
    background-color: $background-color;
    color: $white;
    text-align: center;
}

input, select {
    color: $black;
}

nav {
    margin-top: 20px;

    li {
        display: inline-block;
        + li {
            margin-left: 20px;
        }

        > a {
            padding-right: 0;
            padding-left: 0;
            font-size: 16px;
            font-weight: bold;
            color: $nav-link-color;
            border-bottom: 2px solid transparent;

            &:hover, &:focus {
                text-decoration: none;
                color: $white;
                background-color: transparent;
                border-bottom-color: $nav-border-bottom-color;
            }
        }
    }

    .active {
        > a {
            &, &:hover, &:focus {
                color: $white;
                border-bottom-color: $white;
            }
        }
    }
}

#map {
  height: 23em;
  width: 23em;
  margin: auto;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
